

body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

#root {
    height: 100%;
}

.leaflet-container {
    background-color: black
}


.countryStyling {
        fillColor: black;
        fillOpacity: 1.0;
        color: black;
        weight: 0.5;
}

.map{
    height: 100vh;
    background-color: whitesmoke;
    z-index: 100;
  
} 